* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html {
    height: 100vh;
    font-size: 14px;
}

body {
    background: linear-gradient(#2b52b7,#0e2c77,#282828, #282828);
    height: 100%;
}

.container {
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.degrade {
    background: linear-gradient(to right, #2b52b7, #17388d);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header img {
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
}

header h1 {
    font-size: 2em;
    margin-bottom: 18px;
    color: #fffe;
    font-weight: 300;
}

section.botoes-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a.link button {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    transition: .2s;
}

a.link i {
    font-size: 1.5em;  /* Corrigido */
}

a.link button:hover, footer a.btn-footer:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin: 30px;
}

footer a.btn-footer {
    width: 60px;
    height: 60px;
    display: inline-flex;              /* Usando flexbox para melhor alinhamento */
    align-items: center;              /* Centralizar verticalmente */
    justify-content: center;          /* Centralizar horizontalmente */
    font-size: 2em;                  /* Ajuste o tamanho da fonte */
    line-height: normal;              /* Remover line-height fixo */
    border-radius: 50%;
    margin: 0px 10px;
    transition: .2s;
    text-align: center;               /* Garantir que o texto esteja centralizado */
}
